<%- include('Connections/Header') %>
	<%- include('Connections/Verify') %>
		<%- include('Connections/Navbar') %>
			<%- include('Connections/Preload') %>
				<section id="hero"
					style="background: url(../img/A.webp) center center no-repeat; background-size: contain;">
					<div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
						<h1>Welcome to Avengers Assemble</h1>
						<span>
							<a href="/support" class="btn-get-started">Join Server</a>
							<a href="/vote" class="btn-get-started">Vote Server</a>
						</span>
						<a href="#main" class="scrollto btn-grad">Get Started</a>
					</div>
				</section>
				<!-- End Hero Section -->

				<main id="main">

					<!-- ======= About Section ======= -->
					<section id="about">
						<div class="container" data-aos="fade-up">
							<div class="row about-container">

								<div class="col-lg-6 content order-lg-1 order-2">
									<h3 class="title">Few Words About <strong>Avengers Assemble Server</strong></h3>
									<h4>
										This is the Support server for 2 Major Bots.<br />
										You can have giveaways, events, Code Sharing and Lot of fun by making new
										friends.<br />
										You can also become
										<a href="/staff/application">Staff</a>
										who can have benefits like free Premium of my Musics_DJ Bot until they leave the
										server.<br />
										One bot is
										<a href="/musics_dj">Musics_DJ</a>
										which got verified by Discord.<br />
										Second bot is
										<a href="/avenger">Avengers</a>
										it is latest bot and it needs to be verified
									</h4>

									<span>
										<span>
											<a href="/support" target="_blank" class="btn-get-started">Join Server</a>
											<a href="/vote" target="_blank" class="btn-get-started">Vote Server</a>
										</span>
										<span>
											<a href="/staff" class="btn-get-started">Staff</a>
											<a href="/partner" class="btn-get-started">Partner</a>
										</span>
									</span>

								</div>

								<div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left"
									data-aos-delay="100"></div>
							</div>

						</div>
					</section>
					<!-- End About Section -->

					<!-- ======= Musics_dj Section ======= -->
					<section id="musics_dj">
						<div class="container" data-aos="fade-up">
							<div class="row about-container">

								<div class="col-lg-6 content order-lg-1 order-2">
									<h3 class="title">Few Words About <strong>Musics_DJ Bot</strong></h3>
									<h4>
										Hello Friends, This is the bot that has 75+ commands which are only for the
										music
										playing.<br />
										This bot has three kinds of command categories those are Pro commands,
										Premium commands, Common commands.<br />
										Pro commands have full playlists commands including Premium commands
										which means the bot will not leave the voice channel until you use the command
										leave
										or if you are not there and another member joins and It leaves that voice
										channel.<br />
										There will be Giveaways to get free Pro or Premium commands.<br />
										For more information visit the main Website.
									</h4>

									<span>
										<a href="/musics_dj/invites" target="_blank" class="btn-get-started">Invite
											Bot</a>
										<a href="/musics_dj/vote" target="_blank" class="btn-get-started">Vote Bot</a>
										<a href="/musics_dj" class="btn-get-started">Bot Website</a>
									</span>

								</div>

								<div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left"
									data-aos-delay="100">
								</div>
							</div>

						</div>
					</section>
					<!-- End Musics_dj Section -->

					<!-- ======= Avenger Section ======= -->
					<section id="avenger">
						<div class="container" data-aos="fade-up">
							<div class="row about-container">

								<div class="col-lg-6 content order-lg-1 order-2">
									<h3 class="title">Few Words About <strong>Avenger Bot</strong></h3>
									<h4>
										Hello friends, This bot is having 100+ commands and still under
										development.<br />
										This bot is having Social, Leveling, Economy, and Fun are there in this bot
										until
										now in the future I am going to add Giveaways, Moderation,
										Reaction Roles, and few music commands which will this bot universal for
										everything.<br />
										In this bot also there is a premium role but it will not stop any commands
										but when we use leveling, Economy, and Social we get points and when using some
										commands like Fun, Games these points are consumed for using
										the command.<br />
										For more information visit the main Website.
									</h4>

									<span>
										<a href="/avenger/invites" target="_blank" class="btn-get-started">Invite Bot</a>
										<a href="/avenger/vote" target="_blank" class="btn-get-started">Vote Bot</a>
										<a href="/avenger" class="btn-get-started">Bot Website</a>
									</span>

								</div>

								<div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left"
									data-aos-delay="100">
								</div>
							</div>

						</div>
					</section>
					<!-- End Avengers Section -->
				</main>
				<!-- End #main -->
				<%- include('Connections/Footer') %>
