<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>
        <%= TITLE %>
    </title>
    <meta content="<%= DESCRIPTION %>" name="description" />
    <meta content="<%= KEYWORDS %>" name="keywords" />

    <!-- Favicons -->
    <link href="<%= FAVICON %>" rel="icon" />
    <link href="<%= FAVICON %>" rel="apple-touch-icon" />

    <!-- Vendor CSS Files -->
    <link href="<%= EXTRA %>vendor/aos/aos.css" rel="stylesheet" />
    <link href="<%= EXTRA %>vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="<%= EXTRA %>vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />

    <!-- Canonicals -->
    <link href="https://avengers-assemble.tech/server-info" rel="canonical">
    <link href="https://avengers-assemble.tech/musics_dj" rel="canonical">
    <link href="https://avengers-assemble.tech/avenger" rel="canonical">
    <link href="https://avengers-assemble.tech/staff/application" rel="canonical">
    <link href="https://avengers-assemble.tech/musics_dj/commands" rel="canonical">
    <link href="https://avengers-assemble.tech/avenger/commands" rel="canonical">

    <!-- Template Main CSS File -->
    <link href="<%= EXTRA %>stylesheets/style.css" rel="stylesheet">
</head>

<body>