<%- include('Connections/Header') -%>
    <%- include('Connections/Navbar') -%>
        <!-- ======= Hero Section ======= -->
        <section id="hero" style="background: url(../img/A.webp) center center no-repeat; background-size: contain;">
            <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
                <h1>Welcome
                    <%= username %> <br /> to
                        <%= GUILDNAME %> Server info
                </h1>
                <span>
                    <a href="<%= INVITEURL %>" class="btn-get-started">Join Server</a>
                </span>
            </div>
        </section>
        <!-- End Hero Section -->

        <main id="main">

            <!-- ======= About Section ======= -->
            <section id="about">
                <div class="container" data-aos="fade-up">
                    <div class="row about-container">

                        <div class="col-lg-6 content order-lg-1 order-2">
                            <h3 class="title">Few Words About <strong><%= GUILDNAME %> Server</strong></h3>
                            <h4>
                                <%= LONG DESCRIPTION %>
                            </h4>

                            <span>
                                <a href="<%= INVITEURL %>" target="_blank" class="btn-get-started">Join Server</a>
                            </span>

                        </div>

                        <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100">
                        </div>
                    </div>

                </div>
            </section>
            <!-- End About Section -->
            <%- include('Connections/Footer') -%>