<%- include('Connections/Header') -%>
    <%- include('Connections/Navbar') -%>
        <!-- ======= Hero Section ======= -->
        <section id="hero" style="background: url(../img/A.webp) center center no-repeat; background-size: contain;">
            <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
                <h1>Welcome
                    <%= username %> <br /> to Avengers Assemble <br />Staff Application
                </h1>
                <a href="#application" class="scrollto btn-grad">Get Started</a>
            </div>
        </section>
        <!-- End Hero Section -->
        <section id="application" style="background-color: lavender;">
            <div class="container mt-2">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-8">
                        <div class="form">
                            <% if(typeof alert != 'undefined') { %>
                                <% alert.forEach(function(error) { %>
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <%= error.msg %>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    <% }) %>
                                        <% } %>
                                            <hr />
                                            <h2>Avengers Assemble Staff Application</h2>
                                            <form action="/staff/application" method="POST">
                                                <hr />
                                                <div class="row g-2 mb-3">
                                                    <div class="col-md">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control" name="UserName" id="floatingInputGrid" placeholder="UserName" value="<%= username %>" readonly>
                                                            <label for="floatingInputGrid">Discord Username</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md">
                                                        <div class="form-floating">
                                                            <input type="number" class="form-control" name="DiscordId" id="floatingInputGrid" placeholder="DiscordId" value="<%= discordId %>" readonly>
                                                            <label for="floatingInputGrid">Discord ID</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="email" class="form-control" name="Email" id="floatingInput" placeholder="Email" value="<%= email %>" readonly>
                                                    <label for="floatingInput">Email address</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" name="Name" id="floatingInput" placeholder="Name" required />
                                                    <label for="floatingInput">Your Orignal Name</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" name="Abilities" id="floatingInput" placeholder="Abilities" required />
                                                    <label for="floatingInput">What experience/abilities do you have?</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" name="ReasonToPickYou" id="floatingInput" placeholder="ReasonToPickYou" required />
                                                    <label for="floatingInput">Why should we choose you?</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" name="ReasonToBeStaff" id="floatingInput" placeholder="ReasonToBeStaff" required />
                                                    <label for="floatingInput">Why do you want to be staff on Avengers Assemble?</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" name="HelpingHands" id="floatingInput" placeholder="HelpingHands" required />
                                                    <label for="floatingInput">How will you help us?</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <textarea class="form-control" name="AboutYou" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" required></textarea>
                                                    <label for="floatingTextarea2">Tell us something about you?</label>
                                                </div>
                                                <div class="row g-2 mb-3">
                                                    <div class="col-md">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control" name="TimeZone" id="floatingInputGrid" placeholder="TimeZone" required />
                                                            <label for="floatingInputGrid">What Time zone are you in?</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control" name="Country" id="floatingInputGrid" placeholder="Country" required />
                                                            <label for="floatingInputGrid">What Country do you live in?</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row g-2 mb-3">
                                                    <div class="col-md">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control" name="Languages" id="floatingInputGrid" placeholder="Languages" required />
                                                            <label for="floatingInputGrid">Which Language you speak?</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control" name="WorkingHours" id="floatingInputGrid" placeholder="WorkingHours" required />
                                                            <label for="floatingInputGrid">How long can you be active?</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row g-2 mb-3">
                                                    <div class="col-md">
                                                        <div class="form-floating">
                                                            <select class="form-select" name="Age" id="floatingSelectGrid" placeholder="Age" aria-label="Floating label select example" required />
                                                            <option selected> -- Selete your Age -- </option>
                                                            <option value="more than 23">more than 23+</option>
                                                            <option value="18-23">18-23</option>
                                                            <option value="13-18">13-18</option>
                                                            <option value="less than 13">less than 13</option>
                                                            </select>
                                                            <label for="floatingSelectGrid">Choose your age</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md">
                                                        <div class="form-floating">
                                                            <select class="form-select" name="Gender" id="floatingSelectGrid" placeholder="Gender" aaria-label="Floating label select example" required />
                                                            <option selected> -- Selete your Gender -- </option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                            <option value="Other">Other</option>
                                                            </select>
                                                            <label for="floatingSelectGrid">Choose your Gender</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" name="Spamming" id="floatingInput" placeholder="Spamming" required />
                                                    <label for="floatingInput">If a Member is Spamming what would you do?</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <div class="mb-3">
                                                        <label for="flexRadioDefault" class="form-label">If a Staff member is abusing his permissions, what will you do?</label>
                                                    </div>
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input" type="radio" name="AbusingPermissions" id="flexRadioDefault" value="Contact Server Owner" required />
                                                        <label class="form-check-label" for="flexRadioDefault">
														Contact Server Owner
													</label>
                                                    </div>
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input" type="radio" name="AbusingPermissions" id="flexRadioDefault" value="Ask other staff for help" required />
                                                        <label class="form-check-label" for="flexRadioDefault">
														Ask other staff for help
													</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="AbusingPermissions" id="flexRadioDefault" value="Didn't worry about it and would drink your tea like nothing was happening" required />
                                                        <label class="form-check-label" for="flexRadioDefault">
														Didn't worry about it and would drink your tea like nothing was happening
													</label>
                                                    </div>
                                                </div>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" name="StaffWorked" id="flexSwitchCheckChecked" value="Yes" required />
                                                    <label class="form-check-label" for="flexSwitchCheckChecked">Have you ever been staff?</label>
                                                </div>
                                                <div class="form-check mb-3">
                                                    <input class="form-check-input" name="TermsAndConditions" type="checkbox" value="Accepted" id="flexCheckChecked" required />
                                                    <label class="form-check-label" for="flexCheckChecked">
														I Read and Accept the Terms And Guidelines of discord <a href="https://discord.com/new/guidelines">Guidelines</a> & <a href="https://discord.com/new/terms">Terms</a>
													</label>
                                                </div>
                                                <section id="apply">
                                                    <button style="text-align: center;" class="btn btn-info" type="submit">Submit</button>
                                                </section>
                                                <hr />
                                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('Connections/Footer') -%>